S3method(plot,running)
export(aggregate_running)
export(analyze_running)
export(bin.running)
export(bin.running.before)
export(exportCSV)
export(exportXLS)
export(plot_running)
export(read.dat)
export(stackdata)
